.parallax {
    /* The image used */
    background-image: url("./assets/elsa.jpg");
    /* Set a specific height */
    min-height: 500px;
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.App__inner {
    height: 100vh;
    width: 100vw;
}