
body,
html {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  font-family: "Roboto Mono", monospace, Arial, sans-serif;

  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


a {
  text-decoration: none;
  color: black;
}